/* EDITA OS ARTIGOS DENTRO DAS NOTICIAS*/
.noticia{
	display:flex;
	justify-content:center;
}

/* EDITA OS ARTIGOS DENTRO DAS NOTICIAS*/


/* <IMAGENS> */
header figure img{
	width:100%;
}
head{
	margin:5%;
}
figure img{
	width:100%;}

header figure{
	display:flex;
	justify-content: center;
	width:20%;
	margin-left:40%;
}

/* </IMAGENS> */

/* colocando o menu em ordem*/
ul{
	display:flex;
	justify-content:space-around;
	background-color:red;

}

ul li{
	flex-direction:row;
	list-style-type:none;
}

ul li a{
	text-decoration:none;
}
/* colocando o menu em ordem*/

/* arrumando as noticias */
section{
	display:flex;
	justify-content: space-between;
	margin:5%;
}

section article{
	flex-direction:row;
	width:33%;
	text-align: center;
	margin:2%;
}
section article h2{
	background-color:red;
	text-align: center;
}
article a{
	background-color:red;
	text-decoration:none;
	justify-content: center;
}
/* arrumando as noticias */

/* footer !!!!PERGUNTAR PRA PROF COMO MELHORAR O FOOTER*/
footer{
	background-color:red;
	display:flex;
	justify-content: center;
	margin-top: 100%;
}

footer a{
	text-decoration:none;
	

}
/* footer */

h1{
	text-align: center;
	background-color:red;
}



@media screen and (max-width:700px){


}



/* 
	COMO CENTRALIZAR O ARTIGO?
	COMO COLOCAR IMG AO LADO DO P (EM ROW?)
*/
@media screen and (max-width:480px){
	.noticia{
	display:flex;
	justify-content:center;
}

.noticia article{
	background-color:red;
	flex-direction:row;
}
	ul{
		display:flex;
		flex-direction:column;
		text-align:center;
	}
	header figure{
		display:none;
	}
	section{
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	section article{
		flex-wrap:nowrap;
		justify-content:center;
	}
/* COMO CENTRALIZAR O ARTIGO?*/
}